{exp:channel:entries
    channel="blog"
    limit="1"
    dynamic="no"
    entry_id="{embed:entry_id}"
}
    <article class="blog_article">
        <div class="blog_article_image">
            <a href="/blog/{url_title}"><img src="{image}" alt=""></a>
        </div>

        <h3 class="blog_article__title"><a href="/blog/{url_title}">{title}</a></h3>

        <div class="blog_article__body">
            {body}
        </div>

        <div class="blog_article_meta">
            Posted by {author} on {entry_date format="%m/%d/%Y"}
        </div>

        {if embed:single == "yes"}
            {embed="blog/_related_articles"
                entry_id="{embed:entry_id}"
            }
        {/if}
    </article>
{/exp:channel:entries}